junit.ConsumerCase.baseDir=${example-xml.build.dir}/consumers
junit.ServiceCase.baseDir=${example-xml.build.dir}/services
junit.ProducerCase.baseDir=${example-xml.build.dir}/producers
junit.SampleConfigCase.baseDir=${example-xml.build.dir}

junit.WmqNativeConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/websphere-native
junit.WmqNativeProducerExamples.baseDir=${junit.ProducerCase.baseDir}/websphere-native