junit.ConsumerCase.baseDir=${example-xml.build.dir}/consumers
junit.ServiceCase.baseDir=${example-xml.build.dir}/services
junit.ProducerCase.baseDir=${example-xml.build.dir}/producers
junit.SampleConfigCase.baseDir=${example-xml.build.dir}
junit.JmsConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}
junit.JmsProducerExamples.baseDir=${junit.ProducerCase.baseDir}

junit.WmqNativeConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}
junit.WmqNativeProducerExamples.baseDir=${junit.ProducerCase.baseDir}